<body>
  <div class="container">
    <%= link_to 'Retour vers l\'accueil', root_path, class:"button button-success" %>
    <div class="body_team">
      <br>
      <div class="container_team">
        <div class="card cardteam">
          <h2 class="desc">Félicie <br> Bernard</h2>
          <%=image_tag "felicie.jpg", class:"imageround"%>
          <div class="headtitle">Flûtiste</div>
          <div class="desc">Montpellier, bière, flûte, et vigueur de samouraï = Félicie</div>
        </div>

        <div class="card cardteam">
          <h2 class="desc">Nicolas <br> Pelletier</h2>
          <%=image_tag "nicolas.jpg", class:"imageround"%>
          <div class="headtitle">Ingénieur reconverti</div>
          <div class="desc">Nicolas a trouvé Epita trop facile, donc il a commencé THP</div>
        </div>

        <div class="card cardteam">
          <h2 class="desc">Loïck <br> Jouan</h2>
          <%=image_tag "loick.jpg", class:"imageround"%>
          <div class="headtitle">Codeur fou</div>
          <div class="desc">Loïck aime les chats et les prend en photos parfois.</div>
        </div>

        <div class="card cardteam">
          <h2 class="desc">Sidney <br> Audibert</h2>
          <%=image_tag "sidney.jpg", class:"imageround"%>
          <div class="headtitle">Mange mal</div>
          <div class="desc">Quand Sidney mange mal, il grossit. Pas bien Sidney !</div>
        </div>
      </div>
    </div>
  </div>
</body>