<body>
  <div class="container">
    <%= link_to 'Retour vers l\'accueil', root_path, class:"button button-success" %>    <h2 class="text-upp u-text-center">Notre Equipe</h2>
      <hr class="hr-index">
    <div class="body_team">
   
      <div class="container_team">
        <div class="card cardteam">
          <h2 class="desc">Félicie <br> Bernard</h2>
          <a href="https://www.linkedin.com/in/f%C3%A9licie-bernard-ab6706107/"><%=image_tag "https://res.cloudinary.com/dcmcouvju/image/upload/v1623398847/PumcJsx3mzJ5ydckGjC3vZvC.png", class:"imageround"%></a>
          <div class="headtitle">Flûtiste</div>
          <div class="desc">Montpellier, bière, flûte, et vigueur de samouraï = Félicie</div>
        </div>

        <div class="card cardteam">
          <h2 class="desc">Nicolas <br> Pelletier</h2>
          <a href="https://www.linkedin.com/in/nicolas-pelletier-243a1310a/"><%=image_tag "https://res.cloudinary.com/dcmcouvju/image/upload/v1624537841/nicolas_kllnog.jpg", class:"imageround"%></a>
          <div class="headtitle">Ingénieur reconverti</div>
          <div class="desc">Nicolas a trouvé Epita trop facile, donc il a commencé THP</div>
        </div>

        <div class="card cardteam">
          <h2 class="desc">Loïck <br> Jouan</h2>
          <a href="https://www.linkedin.com/in/loick-jouan/"><%=image_tag"https://res.cloudinary.com/dcmcouvju/image/upload/v1624537778/9E75C6AF-570F-43F3-B48F-A570B576EC5C_1_105_c_haecva.jpg", class:"imageround"%></a>
          <div class="headtitle">Codeur fou</div>
          <div class="desc">Loïck aime les chats et les prend en photos parfois.</div>
        </div>

        <div class="card cardteam">
          <h2 class="desc">Sidney <br> Audibert</h2>
          <a href="https://www.linkedin.com/in/sidney-audibert-b96018135/"><%=image_tag "https://res.cloudinary.com/dcmcouvju/image/upload/v1624537853/sidney_vmfzl2.jpg", class:"imageround"%></a>
          <div class="headtitle">Mange mal</div>
          <div class="desc">Quand Sidney mange mal, il grossit. Pas bien Sidney !</div>
        </div>
      </div>
    </div>
  </div>
</body>