<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
         <div class="three column"></div>
        <div class="six columns">
          <h2 class="u-text-center text-info text-upp">S'inscrire</h2>
          <br /><br />
  <div class="field">
    <%= f.label "Entrez votre adresse email",class:"text-dark text-upp" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"u-full-width placeholder",placeholder:"adresse email" %>
  </div>

  <div class="field">
    <%= f.label "Entrez votre mot de passe" ,class:"text-dark text-upp"%>
    <% if @minimum_password_length %>
    <em class="text-dark">(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"u-full-width placeholder",placeholder:"mot de passe"%>
  </div>

  <div class="field">
    <%= f.label "Confirmer votre mot de passe",class:"text-dark text-upp" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"confirmation mot de passe", class:"u-full-width placeholder" %>
  </div>
  <div class="actions">
    <%= f.submit "S'inscrire", class:"button-primary u-full-width"%>
  </div>
  <%= link_to "s'identifier", new_user_session_path, class:"button u-pull-right button-success" %>
<% end %>
</div>
</div>
</div>