<br>
<div class="card border-primary" style="max-width: 50rem; background-color: #489FB5;">
  <div class="card-item">
    <h4>Salut <%= @borrower.name %> !</h4>
    <p> Ta demande d'emprunt auprès de <%= @lender.name %> pour son livre <%= link_to @own_book.book.title, @own_book, class: "link" %> a été refusée... </p>
    <p>Peut-être qu'une autre personne possède le même livre ?</p> 
    <p>Pour accéder à ton espace client, connecte-toi via : <%= link_to "where-is-my-book.com/sign_in", @borrower, class:"link"  %>.
    </p>
    <p> À très vite sur <%= link_to "where-is-my-book.com", @urls[:home_page], class:"link" %> !</p>
    <img src="https://res.cloudinary.com/dcmcouvju/image/upload/v1624268441/LOGO_dt3bob.png" alt="logo WhereIsMyBook" class="logo-mail">
  </div>
</div>
