<!DOCTYPE html>
<html>
<head></head>
<body>
  <br>
  <div class="card border-primary" style="max-width: 50rem; background-color: #489FB5;">
    <div class="card-item">
      <h4>Salut <%= @borrower.name %> Je viens t'annoncer une bonne nouvelle</h4>
      <p> Tu as fait une demande d'emprunt auprès de <%= @owner.name %> pour son livre <%= link_to @book_to_borrow.book.title, @urls[:show_book], class: "link" %> </p>
      <p> <%= @owner.name %> aimerais te préter son livre tu peux en discuter avec lui dans ta <%= link_to "messagerie", @urls[:messagerie] %> </p>
      <p> mais vu qu'il as ton addresse postale il te l'as peut être déjà envoyé chez toi </p> 
      <p>
      Pour accéder à ton espace client, connecte-toi via : <%= link_to @urls[:profile_page], @urls[:profile_page], class:"link"  %>.
      </p>
      <p> À très vite sur <%= link_to "where-is-my-book.com", @urls[:home_page], class:"link" %> !</p>
      <img src="https://res.cloudinary.com/dcmcouvju/image/upload/v1624268441/LOGO_dt3bob.png" alt="logo WhereIsMyBook" class="logo-mail">
    </div>
  </div>
</div>
</body>
</html>
