<!DOCTYPE html>
<html>
<head></head>
<body>
  <br>
  <div class="card border-primary" style="max-width: 50rem; background-color: #489FB5;">
    <div class="card-item">
      <h4>Salut <%= @user.name %> et bienvenue !</h4>
      <p>
        Tu t'es inscrit.e sur where-is-my-book en utilisant l'e-mail suivant : <%= @user.email %>.
      </p>
      <p>Pour emprunter des livres ou en prêter n'attend plus ! Et fonce pour discuter 
        avec la communauté sur <%= link_to @url, @url, class:"link" %>.
      </p>
      <p>
        Pour accéder à ton espace client, connecte-toi via : <%= link_to @url_login, @url_login, class:"link"  %>.
      </p>
      <p> À très vite sur <%= link_to @url, @url, class:"link" %> !</p>
      <img src="https://res.cloudinary.com/dcmcouvju/image/upload/v1624268441/LOGO_dt3bob.png" alt="logo WhereIsMyBook" class="logo-mail">
    </div>
  </div>
</div>
</body>
</html>
