<% if own_book.available %> 

  <%= link_to "Rendre indisponible", 
    own_book_set_available_path(own_book.id), 
    method: :patch, class: "button button-danger" %>

<% elsif own_book.loan_request? %>

  <%= link_to "Accepter la demande d'emprunt de #{own_book.borrowed_by.name}", 
    own_book_loan_path(own_book_id: own_book.id, id: own_book.current_loan.id), 
    method: :patch, class: "button button-success"%>

  <%= link_to "Rejeter la demande d'emprunt de #{own_book.borrowed_by.name}", 
    own_book_loan_path(own_book_id: own_book.id, id: own_book.current_loan.id), 
    method: :delete, class:"button button-primary"%>

<% elsif own_book.is_loan_past? %>

  <%= link_to "Récupérer ?", 
      own_book_set_available_path(own_book.id), 
      method: :patch, class: "button button-success" %> 

<% elsif own_book.loan_request? == false && own_book.loaned? == false %>

  <%= link_to "Rendre disponible", 
    own_book_set_available_path(own_book.id), 
    method: :patch, class: "button button-success" %>

<% else %>

  <button disabled class="button-success"> 
    Préter a <%= own_book.borrowed_by.name %> 
  </button>

<% end %>
