
<%i=0%>

<div class="row">
  <div class="six columns"></div>
  <div class="three columns">
    <select id="GetChoice" class="select-text">
      <option >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
        Trier par style de lecture &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      </option>
      <option >Bande Dessinée</option>
      <option >Enfant</option>
      <option >Essai</option>
      <option >Fiction</option>
      <option >Historique</option>
      <option >Loisir</option>
      <option >Philosophie</option>
    </select>
  </div>
  <div class="three columns">
    <input type="button", value="trier" onclick="GetSelectedTextValue()" class="button button-select-genre" />
  </div>
</div>
<br>  

<div class="container">
  <% @own_books.each do |own_book|%>



  <div id = "<%=own_book.genre%>" class="genre-select" >
    <div class="row">
      <div class="card card-list">
        <div class="five columns">

          <% if own_book.book.image_link != nil %>
          <%= link_to image_tag(own_book.book.image_link), own_book, class:"book-img-list"%>
          <div class="one column"></div>
          <%else%>
          <%= image_tag "https://res.cloudinary.com/dcmcouvju/image/upload/v1624045770/nocover2_o33zpf.jpg", class:"book-img-list"%>
          <%end%>
        </div>
        <div class="six columns">
          <h6 class="text-upp text-dark"><%=own_book.book.title %></h6>
          <p>Auteur : <%=own_book.book.authors%></p>
          <p>Catégorie : <%=own_book.genre %></p>
          <br>
          <p>Propriétaire du livre : <%=own_book.user.name%> <br> Ville : <%=own_book.user.private_address.try(:city).try(:name)%> </p>



          <%= link_to "Plus d'infos", own_book, class:"button button-primary"%>



          <!-- Trigger/Open The Modal -->
          <button id = <%=i%> class="btntrig button button-success" onclick="OpenModal()">Fiche du Livre</button>
          
          <!-- The Modal -->
          <div id = <%=i%> class="modal">
          
            <!-- Modal content -->
            <div class="modal-content">
              <span id="<%=i%>" class="close">&times;</span>


              <p id="notice"><%= notice %></p>

              <% empty = '-'%>
              
              <h2 class="text-upp u-text-center"><%= own_book.book.title %></h2>
              
              <div class="row">
              <div class="container">
              <hr>
              <div class="six columns">
              <%= image_tag own_book.book.image_link%>
              <p>
                <strong class="text-dark text-upp">ISBN :</strong>
                <%= (own_book.book.isbn != '' ? own_book.book.isbn : empty) %>
              </p>
              <p>
                <strong class="text-dark text-upp">Auteur.e.s :</strong>
                <%= (own_book.book.authors != '' ? own_book.book.authors : empty) %>
              </p>
              
              <p>
                <strong class="text-dark text-upp">Editions :</strong>
                <%= (own_book.book.publisher != '' ? own_book.book.publisher : empty) %>
              </p>
              </div>
              <p>
                <strong class="text-dark text-upp">Date de publication :</strong>
                <%= (own_book.book.published_date != '' ? own_book.book.published_date : empty) %>
              </p>
              
              <p>
                <strong class="text-dark text-upp">Langue :</strong>
                <%= (own_book.book.language != '' ? own_book.book.language : empty) %>
              </p>
              
              
              
              <p>
                <strong class="text-dark text-upp">Résumé :</strong>
                <%= (own_book.book.description != '' ? own_book.book.description : empty) %>
              </p>
              <p>
                <strong class="text-dark text-upp">Critique :</strong>
                <%= own_book.review %>
              </p>
                <hr>
                <p>
                <strong class="text-dark text-upp">Catégorie :</strong>
                <%= own_book.genre %>
              </p>
              
              
              
              <p>
                <strong class="text-dark text-upp">Note :</strong>
                <%= own_book.appreciation %>/5
              </p>
              
              <p>
                <strong class="text-dark text-upp">Propriétaire du livre :</strong>
                <%= link_to own_book.user.name, user_path(own_book.user_id) %>
              </p>
              <%= link_to "Plus d'infos", own_book, class:"button button-primary u-pull-right"%>
              </div>
              
              </div>
              
        </div>
      </div>
    <hr class="hr-index">
    </div>
    </div>
  </div>
  </div>
  <%i+=1%>
  <%end%>
</div>
</div>
</div>