<p id="notice"><%= notice %></p>
<div class="container">
<%= link_to 'Ajouter un livre à ma bibliothèque', new_book_path, class:"button button-success" %>
<br>
<div class="book-container">
<h2 class="text-upp u-text-center">Tous les livres</h2>
<hr>
<div class="row">
  <% @own_books.each do |own_book|%>
    <div class="nine columns" >
      <div class="card card-list">
        <% if own_book.book.image_link != nil %>
          <%= link_to image_tag(own_book.book.image_link), own_book, class:"book-img-list"%>
        <%else%>
          <%= image_tag "https://res.cloudinary.com/dcmcouvju/image/upload/v1624045770/nocover2_o33zpf.jpg", class:"book-img-list"%>
        <%end%>
      <h6 class="text-upp text-dark"><%=own_book.book.title %></h6>
      <p><%=own_book.book.authors%></p>
      <p class="text-upp text-dark">Note : <%= own_book.appreciation %>/5</p>
      <p>Critique :</p> 
      <p><%=own_book.review%></p>
      <%= link_to "Fiche du Livre", own_book, class:"button"%>
      <%if current_user == own_book.user %>
        <%= link_to 'Editer mon livre', edit_own_book_path(own_book), class:"button button-primary" %>
        <% if own_book.available == true %> 
          <%= link_to "Rendre indisponible", own_book_set_available_path(own_book.id), method: :patch, class: "button button-danger" %>
        <% else %>
          <%= link_to "Rendre disponible", own_book_set_available_path(own_book.id), method: :patch, class: "button button-danger" %>
        <% end %>
      <% else %>
        <%= link_to "Prêteur", user_path(own_book.user_id), class:"button button-primary"%>
        <%= link_to "Emprunter", own_book_loans_path(own_book.id), method: :create, class:"button button-success"%>
      <% end %>
       
      </div>
       <hr class="hr-index">
    </div>

  <%end%>

  </div>
</div>
</div>
