<p id="notice"><%= notice %></p>

<h1>Own Books</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Avis du livre</th>
      <th>Note</th>
      <th>Nom du prêteur</th>
      <th>Fiche de livre </th>
      <th>prêté ?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @own_books.each do |own_book| %>
      <tr>
        <td><%= own_book.book.title %></td>
        <td><%= own_book.review %></td>
        <td><%= own_book.appreciation %></td>
        <td><%= link_to own_book.user.name, user_path(current_user) %></td>

        <td><%= link_to 'Voir la fiche du livre', own_book %></td>
        <% if !own_book.loans.first.nil? %>
          <td><%= own_book.loans.order("updated_at DESC").first.status == true ? "oui" : "non"%></td>
        <% else %>
          <td>oui</td>
        <% end %>
        <%if current_user == own_book.user %>
          <td><%= link_to 'Editer mon livre', edit_own_book_path(own_book) %></td>
          <td><%= link_to 'Le supprimer de ma bibliothèque', own_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter un livre à ma bibliothèque', new_book_path %>
