<p id="notice"><%= notice %></p>

<% empty = '-'%>

<h2 class="text-upp u-text-center"><%= @book.title %></h2>

<div class="row">
<div class="container">
<hr>
<div class="six columns">
<%= image_tag @book.image_link%>
<p>
  <strong class="text-dark text-upp">ISBN :</strong>
  <%= (@book.isbn != '' ? @book.isbn : empty) %>
</p>
<p>
  <strong class="text-dark text-upp">Auteur.e.s :</strong>
  <%= (@book.authors != '' ? @book.authors : empty) %>
</p>

<p>
  <strong class="text-dark text-upp">Editions :</strong>
  <%= (@book.publisher != '' ? @book.publisher : empty) %>
</p>
</div>
<p>
  <strong class="text-dark text-upp">Date de publication :</strong>
  <%= (@book.published_date != '' ? @book.published_date : empty) %>
</p>

<p>
  <strong class="text-dark text-upp">Langue :</strong>
  <%= (@book.language != '' ? @book.language : empty) %>
</p>

<p>
  <strong class="text-dark text-upp">Catégorie.s :</strong>
  <%= (@book.categories != '' ? @book.categories : empty) %>
</p>

<p>
  <strong class="text-dark text-upp">Résumé :</strong>
  <%= (@book.description != '' ? @book.description : empty) %>
</p>
<hr>
<p>
  <strong class="text-dark text-upp">Critique :</strong>
  <%= @own_book.review %>
</p>

<p>
  <strong class="text-dark text-upp">Note :</strong>
  <%= @own_book.appreciation %>/5
</p>

<p>
  <strong class="text-dark text-upp">Propriétaire du livre :</strong>
  <%= link_to @own_book.user.name, user_path(@own_book.user_id) %>
</p>

</div>

</div>

<div class="container">
<%= link_to 'retour', own_books_path, class:"button" %>
<% if current_user != @own_book.user %>
  <% if @own_book.loan_request? %>
      <div class="button button-success disable button-disable"> Temporairement indisponible </div>
  <% elsif @own_book.loaned.borrower == current_user%>
    <%= link_to "Le rendre a son propriétaire", "", class: "button button-success" %> 
  <% else %>
    <%= link_to "Emprunter le livre", own_book_loans_path(@own_book.id), method: :create, class:"button button-primary"%>
  <% end %>
<% else %>
  <%= link_to 'donner mon avis', edit_own_book_path(@own_book), class:"button button-primary" %>
  <% if @own_book.loaned? == false && @own_book.loan_request? == false %>
    <%= link_to 'Editer les données du livre', edit_book_path(@own_book.book), class:"button button-success" %>

    <%= link_to 'supprimer le livre', @own_book, method: :delete, data: { confirm: 'Are you sure?' }, class:"button button-danger" %>
  <% end %>
<% end %>
</div>
