<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @own_book.review %>
</p>

<p>
  <strong>Appreciation:</strong>
  <%= @own_book.appreciation %>

  <%= @own_book.book.title%>
  <%= @own_book.user.name%>
</p>

<%= link_to 'Edit', edit_own_book_path(@own_book) %> |
<%= link_to 'Back', own_books_path %>
