<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @own_book.review %>
</p>

<p>
  <strong>Appreciation:</strong>
  <%= @own_book.appreciation %>
</p>


<%= link_to 'Edit', edit_own_book_path(@own_book) %> |
<%= link_to 'Back', own_books_path %>
<%= link_to 'Le supprimer de ma bibliothèque', own_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
