<p id="notice"><%= notice %></p>

<% empty = '-'%>

<h2 class="text-upp u-text-center"><%= @book.title %></h2>

<div class="row">
<div class="container">
<hr>
<div class="six columns">
<%= image_tag @book.image_link%>
<p>
  <strong class="text-dark text-upp">ISBN :</strong>
  <%= (@book.isbn != '' ? @book.isbn : empty) %>
</p>
<p>
  <strong class="text-dark text-upp">Auteur.e.s :</strong>
  <%= (@book.authors != '' ? @book.authors : empty) %>
</p>

<p>
  <strong class="text-dark text-upp">Editions :</strong>
  <%= (@book.publisher != '' ? @book.publisher : empty) %>
</p>
</div>
<p>
  <strong class="text-dark text-upp">Date de publication :</strong>
  <%= (@book.published_date != '' ? @book.published_date : empty) %>
</p>

<p>
  <strong class="text-dark text-upp">Langue :</strong>
  <%= (@book.language != '' ? @book.language : empty) %>
</p>



<p>
  <strong class="text-dark text-upp">Résumé :</strong>
  <%= (@book.description != '' ? @book.description : empty) %>
</p>
<hr>
<p>
  <strong class="text-dark text-upp">Critique :</strong>
  <%= @own_book.review %>
</p>
  
  <p>
  <strong class="text-dark text-upp">Catégorie :</strong>
  <%= @own_book.genre %>
</p>



<p>
  <strong class="text-dark text-upp">Note :</strong>
  <%= @own_book.appreciation %>/5
</p>

<p>
  <strong class="text-dark text-upp">Propriétaire du livre :</strong>
  <%= link_to @own_book.user.name, user_path(@own_book.user_id) %>
</p>

</div>

</div>

<div class="container">
<%= link_to 'retour', own_books_path, class:"button" %>
<% if current_user != @own_book.user %>
  <%= render "other_user_book_buttons", own_book: @own_book %>
<% else %>
  <%= render "current_user_book_buttons_show_page", own_book: @own_book %>
<% end %>
</div>
