<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">

  <div class="three column"></div>
  <div class="six columns">
    <hr>
  <div class="field">
    <%= form.label "Identité", class:"text-dark text-upp" %>
    <%= form.text_field :name, placeholder:"Ton doux prenom et ton nom de famille si tu le souhaite", class: "u-full-width placeholder" %>
  </div>

  <div class="field">
    <%= form.label "Description", class:"text-dark text-upp" %>
    <%= form.text_area :biography, placeholder:"Ecris ici une belle description de ta personne !", class: "u-full-width placeholder", rows:"5" %>
  </div>

  <div class="field">
    <%= form.label "Adresse", class:"text-dark text-upp" %>
    <%= form.text_field :street_name, placeholder:"Indique ton adresse" ,class: "u-full-width placeholder" %>
  </div>

  <div class="field">
    <%= form.label "Code postal", class:"text-dark text-upp" %>
    <%= form.text_field :zip_code, placeholder:"Indique ton code postal", class: "u-full-width placeholder" %>
  </div>
  <div class="field">
    <%= form.label "Ville", class:"text-dark text-upp" %>
    <%= form.text_field :city, placeholder:"Indique ta ville", class: "u-full-width placeholder" %>
  </div>

  
  <div class="field">
    <%= form.label "Information additionnelles", class:"text-dark text-upp" %>
    <p class="text-dark">(lieu-dit, boite postale, etc...)</p>
    <%= form.text_field :other_information, placeholder:"Une information concernant ton adresse ou un détail que les autres doivent connaitre ? C'est par ici.",class: "u-full-width placeholder" %>
  </div>

  <div class="actions">
    <%= form.submit "Valider les informations", class:"u-full-width button-primary" %>
  </div>
<% end %>
   </div>
  </div>
</div>