<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :biography %>
    <%= form.text_area :biography %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code %>
  </div>
  <div class="field">
    <%= form.label :street_name %>
    <%= form.text_field :street_name %>
  </div>

  <div class="field">
    <%= form.label :other_information %>
    <%= form.text_field :other_information %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
