  <div class="book-container">
  <div class="row">
    <div class="three columns" >
      <div class="card user-profile">
      <%if @user.avatar.attached?%>
      <% image_tag @user.avatar, class:"avatar"%>
      <%else%>
        <div class="avatar"></div>
        <%end%>
        <div class="buttons">
        <%= mail_to @user.email, "Contacter" ,class:"first-button button button-success u-full-width"%></div>
        <h6 class="username"><%= @user.name%></h6>
        <p class="user-description"><%= @user.biography %></p>
        <%= @user.private_adress.street_name%>
        <%= @user.private_adress.city.name%>
      </div>
      </div>