<p id="notice"><%= notice %></p>

<h1>Private Adresses</h1>

<table>
  <thead>
    <tr>
      <th>Street name</th>
      <th>Other information</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @private_adresses.each do |private_adress| %>
      <tr>
        <td><%= private_adress.street_name %></td>
        <td><%= private_adress.other_information %></td>
        <td><%= link_to 'Show', private_adress %></td>
        <td><%= link_to 'Edit', edit_private_adress_path(private_adress) %></td>
        <td><%= link_to 'Destroy', private_adress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Private Adress', new_private_adress_path %>
