    <!--Section heading-->
    <h2 class="u-text-center text-upp">Contactez-nous !</h2>
    <!--Section description-->
    

  <%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>

    <ul>
      <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
    <div class="container contact-form">
    <hr>
    <h6 class="u-text-center">Une question ? Une interrogation ? Une suggestion ? La parole est à vous !</h6>
    <br />
  <div class="row">
  <div class="four columns">
  
                  <%= f.label :name, "Nom", class:"input text-dark text-upp" %><br />
                  <%= f.text_field :name, class:"u-full-width" %></div>
       
    <div class="eight columns">
          
                  <%= f.label :email, "Email", class:"input text-dark text-upp" %><br />
                  <%= f.text_field :email, class:"u-full-width" %>
              </div>
               <%= f.label :object,"Objet", class:"input text-dark text-upp" %><br />
               <%= f.text_field :object, class:"u-full-width" %>

    
          <!--Grid column-->
          
              <%= f.label :message, "Message", class:"input text-dark text-upp" %><br />
              <%= f.text_area :message, class:"u-full-width", rows:'3' %>
      </form>
        <div class="actions">
          <br>
          <%= f.submit "Envoyer", class:"button-primary u-full-width" %>
        </div>
        <% end %>
        <div class="status"></div>
      </div>
    </div>

    <div>
      <ul class="contact-list">
        <li><i class="fas fa-map-marker-alt icon-contact"></i>
          <p>Where is my book, CH 118 218, Bookland</p>
        </li>

        <li><i class="fas fa-phone icon-contact"></i>
          <p>+33 6 98 17 03 61</p>
        </li>

        <li><i class="fas fa-envelope icon-contact"></i>
          <p>where-is-my-book@yopmail.com</p>
        </li>
      </ul>
    </div>
  </div>
</div>
