<div class="field">
  <p>
  <%= f.label :isbn, 'ISBN' %>
  <%= f.number_field :isbn, :class => 'form-control disable', :value => @isbn %>
  </p>
</div>
<div class="field">
  <p>
  <%= f.label :title, 'Titre' %>
  <%= f.text_field :title, :class => 'u-full-width placeholder', :value => @title %>
  </p>
</div>
<div class="field">
  <p>
  <%= f.label :authors, 'Autheur.e.s' %>
  <%= f.text_field :authors, :class => 'u-full-width placeholder', :value => @authors %>
  </p>
</div>
<div class="field">
  <p>
  <%= f.label :publisher, 'Editions' %>
  <%= f.text_field :publisher, :class => 'u-full-width placeholder', :value => @publisher %>
  </p>
</div>
<div class="field">
  <p>
  <%= f.label :published_date, 'Date de publication' %>
  <%= f.number_field :published_date, :class => 'u-full-width placeholder', :value => @published_date %>
  </p>
</div>
<div class="field">
  <p>
  <%= f.label :language, 'Langue' %>
  <%= f.text_field :language, :class => 'u-full-width placeholder', :value => @language %>
  </p>
</div>
<div class="field">
  <p>
  <%= f.label :categories, 'Catégorie.s' %>
  <%= f.text_field :categories, :class => 'u-full-width placeholder', :value => @categories %>
  </p>
</div>
<div class="field">
  <p>
  <%= f.label :description, 'Résumé' %>
  <%= f.text_area :description, :class => 'u-full-width placeholder', :value => @description %>
  </p>
</div>
<div class="field">
  <p>
  <%= f.label :image_link, 'Lien vers l\'image' %>
  <%= f.text_field :image_link, :class => 'u-full-width placeholder', :value => @image_link %>
  </p>
</div>
<div class="actions">
  <p>
  <%= f.submit 'Ajouter le livre à ma bibliothèque', :class => 'btn btn-primary' %>
  </p>
</div>
