<div class="row">
       <div class="three column"></div>
      <div class="six columns">
<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true, class: "u-full-width placeholder"%>
  </div>

  <div class="field">
    <%= form.label :authors %>
    <%= form.text_field :authors, autofocus: true, class: "u-full-width placeholder"%>
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :publisher, autofocus: true, class: "u-full-width placeholder"%>
  </div>

  <div class="field">
    <%= form.label :published_date %>
    <%= form.number_field :published_date, autofocus: true, class: "u-full-width placeholder"%>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language, autofocus: true, class: "u-full-width placeholder"%>
  </div>

  <div class="field">
    <%= form.label :categories %>
    <%= form.text_field :categories, autofocus: true, class: "u-full-width placeholder"%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, autofocus: true, class: "u-full-width placeholder"%>
  </div>

  <div class="field">
    <%= form.label :image_link %>
    <%= form.text_field :image_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
