<div class="row">
  <div class="three column"></div>
  <div class="six columns">
    <div class="field">
      <%= form.label :isbn, class:"text-dark text-upp" %>
      <%= form.text_field :isbn, class:"u-full-width", :value => @isbn %>
    </div>

    <div class="field">
      <%= form.label "titre", class:"text-dark text-upp" %>
      <%= form.text_field :title, autofocus: true, class: "u-full-width placeholder",  :value => @title %>
    </div>

    <div class="field">
      <%= form.label "auteur·e·s", class:"text-dark text-upp" %>
      <%= form.text_field :authors, autofocus: true, class: "u-full-width placeholder", :value => @authors %>
    </div>

    <div class="field">
      <%= form.label "éditions", class:"text-dark text-upp" %>
      <%= form.text_field :publisher, autofocus: true, class: "u-full-width placeholder", :value => @publisher %>
    </div>

    <div class="field">
      <%= form.label "date de publication", class:"text-dark text-upp" %>
      <%= form.number_field :published_date, autofocus: true, class: "u-full-width placeholder", :value => @published_date %>
    </div>

    <div class="field">
      <%= form.label "langue", class:"text-dark text-upp" %>
      <%= form.text_field :language, autofocus: true, class: "u-full-width placeholder", :value => @language %>
    </div>


    <div class="field">
      <%= form.label "résumé",  class:"text-dark text-upp"%>
      <%= form.text_area :description, autofocus: true, class: "u-full-width placeholder", :value => @description %>
    </div>

    <div class="field">
      <%= form.label "lien vers l'image de couverture", class:"text-dark text-upp" %>
      <%= form.text_field :image_link, placeholder: "Renseignez un URL", class:"u-full-width text-upp", :value => @image_link %>
      <%= form_tag @book.image_link, multipart: true do %>
      <%= file_field_tag "Choisir une image", class:"button" %>
      <%= submit_tag "confirmer", class:"button-danger"%>
        <%end%>
    </div>

    <div class="actions">
      <%= form.submit 'Ajouter le livre à ma bibliothèque', class:"u-full-width button-primary" %>
    </div>
  </div>
</div>
