<h2 class="u-text-center text-info text-upp">Ajouter un bouquin</h2>


<div class="row">

 <div class="three column"></div>
 <div class="six columns">
<hr>
  <%= form_for :isbn_fill, url: books_path do |f| %>
  <% if @query_errors != nil and @query_errors.any? %>
  <% @query_errors.each do |message| %>
  <div class="alert alert-danger"><%= message %></div>
  <% end %>
  <% end %>

  <div class="field">


    <%= f.label :isbn, 'ISBN', class:"text-dark"%>
    <%= f.number_field :isbn,autofocus: true, :class => 'u-full-width', placeholder:"XXX-X-XXX-XXXXX-X" %>
  </div>

  <%= f.submit 'Remplir le formulaire', :class => "button-success u-full-width" %>
  <h5 class="text-succes u-text-center">Et hop, plus qu'à compléter !</h5>
  <% end %>
</div>
</div>
<%= form_with(model: @book, local: true) do |form| %>
<% if @book.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

  <% end %>
  <% if params[:successful] == false %>
  <fieldset disabled>
    <%= render 'formnew', :form => form %>
  </fieldset>
  <% else %>
  <%= render 'formnew', :form => form %>
  <% end %>
  <% end %>
</div>
</div>


