<div class="row">
         <div class="three column"></div>
        <div class="six columns">
          <h2 class="u-text-center text-info">Ajouter un Bouquin</h2>

<%= form_for :isbn_fill, url: books_path do |f| %>
  <% if @query_errors != nil and @query_errors.any? %>
    <% @query_errors.each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  <% end %>
  <div class="field">
  <p>
    <%= f.label :isbn, 'ISBN' %>
    <%= f.number_field :isbn, :class => 'form-control' %>
  </p>
  <p>
    <%= f.submit 'Remplir le formulaire', :class => 'btn btn-primary' %>
  </p>
  </div>
<% end %>
<h3>Vérifier les informations</h3>
<%= form_for @book do |f| %>
  <% @book.errors.full_messages.each do |message| %>
    <div class="alert alert-danger"><%= message %></div>
  <% end %>
  <% if params[:successful] == false %>
    <fieldset disabled>
      <%= render 'form', :f => f %>
    </fieldset>
  <% else %>
    <%= render 'form', :f => f %>
  <% end %>
<% end %>
        </div>
