
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
         <div class="three column"></div>
        <div class="six columns">
          <h2 class="u-text-center text-info text-upp">S'identifier</h2>
  <div class="field">
    <%= f.label "Entrez votre adresse email",class:"text-dark text-upp" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"u-full-width placeholder",placeholder:"Adresse Email" %>
  </div>

  <div class="field">
    <%= f.label "Entrez votre mot de passe" ,class:"text-dark text-upp"%>
    <% if @minimum_password_length %>
    <em class="text-dark">(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"u-full-width placeholder",placeholder:"Mot de Passe"%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "se souvenir de moi", class:"text-dark text-upp" %>
    </div>
  <% end %>

 <div class="actions">
    <%= f.submit "s'identifier", class:"button-primary u-full-width u-text-center"%>
  </div>
  
<% end %>
<%= link_to "Mot de passe oublié", new_user_password_path, class:"button u-pull-left" %>
<%= link_to "s'inscrire", new_user_registration_path, class:"button u-pull-right button-success" %>
<br /><br />
</div>
</div>
</div>