
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
         <div class="three column"></div>
        <div class="six columns">
          <h2 class="u-text-center text-info">S'IDENTIFIER</h2>
  <div class="field">
    <%= f.label "Entrez votre adresse email",class:"text-info" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"u-full-width placeholder",placeholder:"ADRESSE EMAIL" %>
  </div>

  <div class="field">
    <%= f.label "Entrez votre mot de passe" ,class:"text-info"%>
    <% if @minimum_password_length %>
    <em class="text-info">(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"u-full-width placeholder",placeholder:"MOT DE PASSE"%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "se souvenir de moi" %>
    </div>
  <% end %>

 <div class="actions">
    <%= f.submit "s'identifier", class:"button-primary u-full-width"%>
  </div>
<% end %>
<br /><br />
</div>
</div>
</div>