 <footer>
  <div class="u-full-width footer">
    <div class="row">
      <div class="one column"></div>
      <div class="four columns"><br /><br /><%= link_to image_tag("https://res.cloudinary.com/dcmcouvju/image/upload/v1624269211/LOGOFOOTER_byygbb.png"), root_path,class:"logo-footer a-footer"%></a>
      </div>

      <div class="one columns">
        <br>
        <h5><%= link_to "Contact", new_contact_path, class:"a-footer text-footer"%></h5>
      </div>
     
      <div class="four columns">
        <br>
        <h5><%= link_to "Qui sommes-nous", static_pages_team_path, class:"a-footer text-footer"%></h5>
      </div>
      
      <div class="two columns"><%=image_tag "Vector.png",class:"polygon-footer"%><br /><br />
        <ul><li><%= link_to  "Tout droits réservés", static_pages_privacypolicy_path, class:"text-light a-footer"%></li>
        </ul>
      </div>
    </div>
  </div>
</footer>