  <!-- NAVBAR LAYOUT -->
  <header>
    <div class="u-full-width hero navbar" id="concept">
      <div class="row">
        <div class="five columns"><%=image_tag "polygons.png", class:"polygon-navbar"%></div>
        <div class="six columns"><%=link_to image_tag "LOGO.svg", class:"logo a-footer"%></div>
        <div class="one column dropdown">
        <%if user_signed_in?%>
          <a href="#"><%= image_tag "hamburger.svg", class:"hamburger"%></a>
          
            <div class="dropdown-content">
              <ul><li>
              <li><%=link_to "Mes Livres", user_path(current_user.id), class:"link"%></li>
               <li><%=link_to "Les Bibliothèques", root_path, class:"link"%></li>
            
            <li><%=link_to "Deconnexion", destroy_user_session_path, :method => :delete, class:"link"%></li>
              </ul>
          </div>
        </div>
         <%else%>
         <%end%>
        </div>
        </div>
  </header>

