  <!-- NAVBAR LAYOUT -->
  <header>
    <div class="container-fluid navbar" id="concept">
      <div class="row">
        <div class="five columns"><%=image_tag "polygons.png", class:"polygon-navbar"%></div>
        <div class="six columns"><a href="#"><%= image_tag "LOGO.svg", class:"logo"%></a></div>
        <div class="one column dropdown">
          <a href="#"><%= image_tag "hamburger.svg", class:"hamburger"%></a>
            <div class="dropdown-content">
              <ul><li><%if user_signed_in?%>
              <%=link_to "Accueil", own_books_path, class:"link"%>
              <%else%>
              <%=link_to "Accueil", root_path, class:"link"%>
              <%end%></li>
            <li><a href="#" class="link">Contact</a></li>
              </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
  </header>

