  <!-- NAVBAR LAYOUT -->
  <header>
    <div class="u-center-block hero navbar" id="concept">
      <div class="row">
        <div class="five columns"><%=image_tag "polygons.png", class:"polygon-navbar"%>
        </div>
        <div class="one column"><br /><%=link_to image_tag("https://res.cloudinary.com/dcmcouvju/image/upload/v1624268441/LOGO_dt3bob.png"), root_path, class:"logo a-footer"%>
        </div>
        <div class="five columns"></div>
        
        <%if user_signed_in?%>
        <div class="one column dropdown">
          <div class="hamburger">
          <i class="fas fa-bars"></i>
        </div>
          
          <div class="dropdown-content">
            <ul>
              <li><%=link_to "Mes Livres", user_path(current_user.id), class:"link"%></li>
              <li><%=link_to "Les Bibliothèques", root_path, class:"link"%></li>
              <li><%=link_to "Deconnexion", destroy_user_session_path, :method => :delete, class:"link"%></li>
            </ul>
          </div>
        </div>
        <%else%>
        <%end%>
      </div>
    </div>
  </header>